:root {
  --gray: #434455;
  --navy: #2e2f42;
  --iris: #4d5ae5;
  --dark_iris: #404bbf;
  --cloud: #f4f4fd;
  --lightslate: #8e8f99;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
footer {
  background-color: var(--navy);
  color: var(--cloud);
}
img {
  display: block;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.head {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: relative;
  color: var(--dark_iris);
}
.head-section {
  display: flex;
  height: 70px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .navigation {
    max-width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
  .navigation {
    justify-content: start;
    width: auto;
  }
}
.navigation-list {
  display: flex;
  gap: 40px;
  position: relative;
  color: var(--dark_iris);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .info {
    display: none;
  }
}
.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--navy);
}
.nav-item:focus {
  color: var(--dark_iris);
}
.nav-item:hover {
  color: var(--dark_iris);
}
.nav-item.current.link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--dark_iris);
}
.nav-item.current::after {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--dark_iris);
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  content: '';
  margin-bottom: 15px;
}

.phone-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 22px;

  background-color: transparent;
  border: none;
  outline: transparent;
}
@media only screen and (min-width: 768px) {
  .phone-menu {
    display: none;
  }
}

.sect-first {
  padding: 112px 0;
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office/ofiice@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--navy);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/office@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .sect-first {
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.sect-second {
  padding: 96px 16px;
}

@media only screen and (min-width: 1158px) {
  .sect-second {
    padding: 120px 0;
  }
}

.sect-third {
  padding-bottom: 120px;
}

@media only screen and (min-width: 320px) and (max-width: 1157px) {
  .sect-third {
    display: none;
  }
}
.sect-fourth {
  background-color: var(--cloud);
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .sect-fourth {
    padding: 120px 0;
  }
}
.sect-fifth {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .sect-fifth {
    padding: 120px 0;
  }
}
.sect {
  padding: 96px 0 120px 0;
}
.solution {
  color: #ffffff;
  line-height: 1.11;
  font-size: 36px;
  font-weight: 700;
  max-width: 320px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .solution {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
  }
}
.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.features-element {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .features-element {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .features-element {
    width: calc((100% - 72px) / 4);
  }
}

@media only screen and (min-width: 1158px) {
  .sect-second-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;

    background-color: var(--CLOUD);
    border-radius: 4px;
  }
}

.features-article {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.features-paragraph {
  font-weight: 500;
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1158px) {
  .features-article {
    color: var(--navy);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .features-paragraph {
    font-weight: 400;
  }
}
.images-list {
  display: flex;
  gap: 24px;
}
.person-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 264px;
  margin: 0 auto;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .person-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    width: 100%;
  }
}
.article {
  color: var(--navy);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.image {
  width: calc((100% - 48px) / 3);
}
.people-article {
  color: var(--navy);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.portfolio-article {
  color: var(--navy);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.people-paragraph {
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-paragraph {
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.people-container {
  padding: 32px 0;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container {
  position: relative;
  overflow: hidden;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .portfolio-description,
.portfolio-link:focus .portfolio-description {
  transform: translateY(0%);
}
.list-back {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .list-back {
    width: calc(100% - 208) / 2;
  }
}
@media only screen and (min-width: 1158px) {
  .list-back {
    width: calc((100% - 72px) / 4);
  }
}
.btn {
  background: var(--iris);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: var(--dark_iris);
}
.btn:focus {
  background-color: var(--dark_iris);
}
.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: var(--iris);
  background-color: var(--cloud);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  color: #ffffff;
  background-color: var(--dark_iris);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.web {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: var(--iris);
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container.footer .web {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container.footer .web {
    margin: 0;
  }
}

/* Default classes */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 16px;
  min-width: 320px;
  max-width: 428px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.sect-second-icons {
  display: flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.head-studio {
  color: var(--navy);
}
.foo-studio {
  color: var(--cloud);
}
.info {
  font-style: normal;
  margin-left: auto;
}

.info-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .info-list {
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
    margin-left: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .info-list {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
    margin: 0;
  }
}
.info-style {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--gray);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .info-style {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.info-style:hover,
.info-style:focus {
  color: var(--dark_iris);
}
.social-link-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--dark_iris);
}
.social-svg {
  fill: #f4f4fd;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 16px;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 208px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}
.customers-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--dark_iris);
  border-color: var(--dark_iris);
}
.color-svg {
  fill: currentColor;
}
.foo {
  padding: 100px 0;
}
.foo-paragraph {
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
  color: var(--cloud);
}

.container.footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 552px;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .container.footer {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: baseline;
    flex-wrap: nowrap;
    padding: 0 15px;
    width: auto;
  }
}

.media-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .media-paragraph {
    margin: 0;
  }
}

.logo-container,
.media-container,
.subscribe-form,
.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.media-container {
  margin: 0 auto;
}

.media-list.list {
  display: flex;
  gap: 16px;
}

.media-item {
  width: 40px;
  height: 40px;
}
.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: #31d0aa;
}
.media-icon {
  fill: var(--cloud);
}
@media only screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-input {
  height: 40px;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  outline: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: #ffffff;
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
  .input-container {
    margin: 0;
  }
}

.subscribe-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .subscribe-button {
    padding: 8px 24px;
  }
}

.subscribe-btn:hover {
  background-color: var(--dark_iris);
}

.send-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 24px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 320px) and (max-width: 427.98px) {
  .modal-window {
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .modal-window {
    max-width: 408px;
  }
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: var(--dark_iris);
  border: none;
  fill: #ffffff;
}
.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-item {
  position: relative;
}
.modal-item {
  margin-bottom: 8px;
}
.modal-paragraph {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--navy);
  text-align: center;
}
.modal-label {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
  color: var(--lightslate);
}
.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input::placeholder {
  color: transparent;
}
.modal-input:focus {
  border-color: var(--iris);
}
.modal-input:focus + .input-svg {
  fill: var(--iris);
}
.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-item {
  margin-bottom: 16px;
}
.modal-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--iris);
}
.modal-textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox-item {
  margin-bottom: 24px;
}
.checkbox-label {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  border: none;
}

.label-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:hover + .checkbox-label > .label-span,
.checkbox-input:focus + .checkbox-label > .label-span,
.checkbox-input:checked + .checkbox-label > .label-span {
  background-color: var(--dark_iris);
  border: none;
  fill: var(--cloud);
}

.label-link {
  color: var(--iris);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-btn-send {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;

  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--iris);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-btn-send:focus,
.modal-btn-send:hover {
  background-color: var(--dark_iris);
}

.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .menu-modal {
    display: none;
  }
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 428px;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.menu-modal.is-open {
  transform: translateX(0);
}

.mobile-nav {
  padding-top: 80px;
  padding-left: 40px;
  margin-right: auto;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-nav {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-phone {
  display: block;
  padding-left: 40px;
  padding-right: 35px;
  margin-bottom: 40px;

  color: var(--iris, #4d5ae5);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-email {
  display: block;
  margin-left: 40px;
  margin-bottom: 48px;
  max-width: 192px;

  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
}

.menu-icon-block {
  max-width: 328px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-right: 60px;
}

.menu-icon-list {
  display: flex;
  justify-content: space-between;
}

.menu-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-link:active {
  background-color: var(--dark_iris);
}

/* @media */

@media screen and (max-width: 1158px) {
  .desktop-visible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (max-width: 767.98px) {
  .desktop-visible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media only screen and (min-width: 320px) {
  html {
    overflow-x: hidden;
  }
}

.menu-btn {
  margin-top: 32px;
  border-radius: 8px;
  background-color: var(--iris);
  border: none;
  width: 128px;
  height: 32px;
  text-align: center;
  color: var(--cloud);
  transform: translateY(0%);

  transition: color 0.4s linear;
  transition: background-color 0.4s linear;
  transition: transform 0.4s linear;
}
.menu-btn:hover {
  background-color: var(--dark_iris);
  color: rgba(0, 0, 0, 0.7);
  transform: translateY(-20%);
  box-shadow: inset 3px 2px var(--iris);
}

.icon-menu {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 16px;
}
